.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Pilnas aukštis */
}

.image-wrapper {
  display: flex;
  flex-direction: row; /* Elementai bus išdėstyti eilutėje */
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;  /* Nuotraukos dydis bus apribotas tėvinio elemento */
  max-height: 400px; /* Galite nustatyti aukštį pagal savo poreikius */
  object-fit: contain;
  margin-right: 20px; /* Tarpas tarp nuotraukos ir teksto */
}

.info {
  max-width: 300px; /* Galite nustatyti maksimalų plotį informacijai */
  text-align: left;  /* Tekstas bus kairėje */
  word-wrap: break-word; /* Suskaidys žodžius, kad netilptų į vieną eilutę */
}
